.entrada {
	max-width: 80rem;
	margin: 0 auto;
}

.contenido {
	padding: 2rem;
}

.divImagen {
	border: 0.1rem solid;
	box-shadow: 1px 1px 3px 1px black;
	border-radius: 1rem;
}

.imagen {
	border-radius: 1rem;
}

.contenido h3 {
	font-weight: 400;
	font-size: 2.8rem;
	margin: 0;
	line-height: 1.2;
}

.fecha {
	font-size: 1.6rem;
	color: var(--primary);
	font-style: italic;
}

.resumen {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.enlace {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 1rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--negro);
	border: 1px solid var(--primary);
	transition-property: background-color;
	transition-duration: 0.5s;
	letter-spacing: 1.5px;
}

.enlace:hover {
	background-color: var(--primary);
	color: var(--blanco);
}

.texto {
	/* Para respetar los saltos de linea que se insertaron en el archivo(backend) */
	white-space: pre-wrap;
}
