.alerta {
	display: flex;
	margin: 0 auto;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	background-color: rgb(184, 33, 33);
	color: #e1e1e1;
	padding: 1rem;
	width: 75%;
	border-radius: 1rem;
}
